<section class="text-center flex flex-col gap-y-1 items-center">
  <h3 class="text-lg font-semibold text-accent">Contact Us</h3>
  <h4 class="text-3xl font-semibold">We Have PokeCenters All Over the World!</h4>
  <p class="max-w-lg px-3 mt-3">Explore our locations and see how we're making a difference, one adoption at a time.</p>
  <%= image_tag("main/contact-us-image.webp", class: "rounded-3xl max-h-60 object-cover w-full mt-6", alt: "Eevee painted in Van Gogh style") %>
  <section class="flex flex-col lg:flex-row w-full gap-y-8 lg:gap-x-24 justify-center mt-8 lg:mt-16">
    <article class="flex flex-col gap-y-1">
      <h4 class="text-lg font-semibold">Support</h4>
      <p>Our friendly team is there to help!</p>
      <h5 class="mt-4 font-semibold text-accent">support@pokefriends.com</h5>
    </article>
    <article class="flex flex-col gap-y-1">
      <h4 class="text-lg font-semibold">Phone</h4>
      <p>Mon-Fri from 8am to 5pm.</p>
      <h5 class="mt-4 font-semibold text-accent">+48 000 000 000</h5>
    </article>
  </section>
</section>