<section class="text-center flex flex-col gap-y-1 items-center">
  <h3 class="text-lg font-semibold text-accent">Contact Us</h3>
  <h4 class="text-3xl font-semibold">We Have PokeCenters All Over the World!</h4>
  <p class="max-w-lg px-3 mt-3">Explore our locations and see how we're making a difference, one adoption at a time.</p>
  <%= image_tag("main/contact-us-image.webp", class: "rounded-3xl max-h-60 object-cover w-full mt-6", alt: "Eevee painted in Van Gogh style") %>
</section>