<div class="flex gap-x-4 items-center font-semibold text-accent text-sm">
  <div class="w-full bg-orange-200 rounded-full h-3">
    <div class="bg-accent h-3 rounded-full" style="width: <%= "#{value * 100 / value_max}%" %>"></div>
  </div>
  <span class="text-center">
    <%= value %>
  </span>
</div>