<%= render "pokemons/pokemon_banner", pokemon: @adoptable_pokemon.species, adoptable_pokemon: @adoptable_pokemon %>
<section>
  <h2 class="text-2xl font-semibold">Adopt a Pokémon: Application Form</h2>
  <p class="mt-4">Complete the form below to start your Pokémon adoption journey. Your responses will help us ensure a good match and provide the best possible care for our Pokémon.</p>
</section>
<%= render "form" %>