<section class="mx-auto flex flex-col lg:items-center gap-y-4">
  <h1 class="font-bold text-7xl lg:text-9xl text-accent">404</h1>
  <p class="max-w-lg lg:text-center">
    <span class="text-accent">Oops!</span> A POKéMON is sprawled out in a deep and comfortable slumber. This road is unavailable.
  </p>
  <%= image_tag("pokemons/snorlax.png", class: "h-24 w-24") %>
  <%= render "shared/button_link", text: "GO HOME", href: root_path %>
</section>
